streamlit==1.36.0
langchain==0.2.14
langchain-core==0.2.32
langchain-community>=0.0.37
langchain-groq==0.1.5
huggingface-hub==0.23.4
sentence-transformers==3.0.1
chromadb
pysqlite3-binary
protobuf==3.20.0
opentelemetry-api==1.19.0
opentelemetry-sdk==1.19.0
opentelemetry-exporter-otlp==1.19.0